/*//Main Styling Page*/

body section ul li {
  display: inline-block;
  margin: 20px;
  border: 2px solid red;
  border-radius: 10px;
}

#results li {
  margin: 2px;
  /*border: 1px solid black;*/
}

body section ul li img {
  height: 150px;
  margin: 10px;
  object-fit: contain;
}
